.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

.backup/.vscode/c_cpp_properties.json

.backup/.vscode/extensions.json

.backup/.vscode/launch.json

test/README
lib/README
.vscode/tasks.json
.vscode/extensions.json
.backup/main.h
listing.lst
.travis.yml
.gitignore
.vscode/settings.json
